@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #9EB7BD;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #9EB7BD;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply font-body text-base text-foreground;
}
